div {
    width: 400px;
    padding: 7px;
}

div p:first-of-type {
    line-height: 0.5;
    font-size: x-large;
    color: green;
    font-weight: 900;
}

div p:nth-of-type(2) {
    line-height: 0.5;
    font-size: larger;
    color: orange;
    font-weight: 700;
}

.i {
    font-style: italic;
    text-decoration: underline grey;    
}

.b {
    font-weight: bold;
    text-decoration: underline dotted orange;   
    padding-left: 10px; 
}

.u {
    padding-left: 10px;
}