body, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: repeat(3 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.box {    
    font-size: 30px;
    color: #fff;
    background: chartreuse;
}

.one {
    grid-column: 1 / 3;
}

.four {
    grid-column: 2 / 4;
}

.three {
    grid-row: 2 / span 2;
}
